body {
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background: linear-gradient(rgba(58, 124, 223, 1), rgba(58, 223, 203, 1));
	background-attachment: fixed;
}

.nav-item {
	margin-right: 10px;
	font-weight: bold;
	font-size: 18px;
}

.person {
	margin-right: 50px;
}

/* content */
.search-bar {
	width: 75%;
	height: 60px;
	max-width: 600px;
	background-color: black;
	border-radius: 30px;
	display: flex;
	padding: 10px 0px;
}

.search-bar input {
	background: transparent;
	border: 0;
	flex: 1;
	outline: none;
	padding: 10px;
	color: white;
	font-weight: bold;
}

.search-bar img {
	padding-left: 20px;
}

.search-bar button {
	background-color: white;
	padding: 0px 24px;
	border-radius: 24px;
	color: black;
	font-weight: bold;
}

.row {
	display: flex;
}

.row .faq-header {
	display: flex;
	align-items: center;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 5px;
	margin-left: -15px;
}

.row h6 {
	margin-left: 10px;
}

.row .faq-header img {
	margin-right: 5px;
}

/* footer */
ul {
	list-style: none;
}

.footer {
	background-image: url("../image/ilustrasi/footer-back.svg");
	background-color: #24262b;
	padding: 70px 0;
}

.footer-col {
	width: 25%;
	padding: 0 15px;
}
.footer-col h4 {
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: white;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}
.footer-col ul li a {
	margin-left: -40px;
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover {
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
}
@media (max-width: 574px) {
	.footer-col {
		width: 100%;
	}
}

.copyright {
	margin-top: 100px;
	margin-left: 50px;
	margin-bottom: -50px;
	font-size: 20px;
	color: rgba(245, 245, 245, 0.553);
}

.copyright a {
	color: rgba(245, 245, 245, 0.553);
}
