body {
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background: linear-gradient(rgba(58, 124, 223, 1), rgba(58, 223, 203, 1));
	background-attachment: fixed;
}

.card {
	border: none;
}

.card-body h2,
h6 {
	text-align: center;
	margin: 0px 0px 15px 0;
}

.card-body .register {
	text-align: left;
}

/* .login-img {
	margin-bottom: 25%;
} */

.login-form {
	padding: 0 35px;
	border: none;
}

.btn-login {
	border-radius: 30px;
	color: black;
	margin: 15px 0px 15px 0px;
}

a:hover {
	text-decoration: none;
}

.register-form {
	padding-right: 50px;
}

.btn-secondary #button-addon2 {
	background-color: white;
}
